/* GENERAL CUSTOM STYLES */

body{
    width: 100vw;
    height: 100vh;
}

main{
    overflow: auto;
}

/* NAVIGATION BAR */

nav .mobile img{
    width: 35px;
}

#max-width-none{
    max-width: none;
}

/* MAIN CONTAINER */

.main-container{
    height: calc(100% - 58.4px);
}

/* SIDE NAVIGATION BAR */

.side-bar{
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
}

.side-bar button{
    background-color: transparent;
    color: white;
}

.side-bar button div {
    width: 30px;
    display: inline-block;
}

/* MAIN */

main{
    width: 100%;
}

/* OVERVIEW */

.overview{
    background-color: rgb(27, 114, 232);
    color: white;
    width: 100%;
}

.overview button{
    background-color: rgb(27, 114, 232);
}

.overview .badge{
    background-color: rgb(22, 91, 186);
    cursor: pointer;
}

/* MEDIA-QUERIES */

@media screen and (max-width: 768px) {
    .side-bar{
        width: 50px;
    }

    .side-bar button{
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .side-bar button div{
        padding: 0;
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    .side-bar{
        width: 150px;
    }
}