/* GENERAL CUSTOM STYLES */

body{
    width: 100vw;
    height: 100vh;
}

main{
    overflow: auto;
}

/* NAVIGATION BAR */

nav .mobile img{
    width: 35px;
}

#max-width-none{
    max-width: none;
}

/* SIDE NAVIGATION BAR */

.side-bar{
    background-color: rgb(5, 30, 52);
    height: 100%;
}

.side-bar li *{
    color: white;
}

.side-bar .container{
    height: 100%;
}

/* MEDIA-QUERIES */

@media screen and (max-width: 768px) {
    .side-bar{
        width: 50px;
    }
}

@media screen and (min-width: 769px) {
    .side-bar{
        width: 150px;
    }
}